[Unit]
Description=Start Rabbit on startup

[Service]
Type=forking
User=rabbit
StandardOutput=tty
ExecStart=/bin/sh -c "/home/rabbit/rabbitmq_server-3.5.3/sbin/rabbitmq-server -detached"

[Install]
WantedBy=multi-user.target
